.signature{
    display: flex;
}
.signature-left{
    width: 50%;
}
.signature-canvas{
    width: 100%;
    height: 400px;
    border: 2px solid #003366;
    margin-bottom: 20px;
}
.btn{
    cursor: pointer;
    width: 150px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    background-color: #003366;
    border-radius: 50px;
    padding: 10px 0px;
    margin-right: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
    transition: background-color 0.5s ease;
}
.btn:hover{
    background-color: #225588;
}
.signature-success{
    width: 50%;
}
.signature-success .image{
    border: 2px solid #003366;
    padding: 20px;
}
.signature-success .download-link{
    display: block;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #003366;
    transition: color 0.5s ease;
}
.signature-success .download-link:hover{
    color: #225588;
}